@model MyBlogProject.Models.Model.Contact

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim Bilgisi Sil</h2>

<h3>Bu kaydı silmek istediğine emin misin?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkHours)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Sil" class="btn btn-success" /> |
    @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-primary" })
</div>
    }
</div>
