@model IEnumerable<MyBlogProject.Models.Model.Article>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">


    <div class="sub-title">
        <h2><span class="admin-color">@ViewBag.CtgName.Name</span> Kategorisine Ait Makaleler</h2>
        <a href="/Home/Index/"><i class="icon-home"></i></a>
    </div>


    <div class="col-md-12 content-page">

        @foreach (var item in Model)
        {
            <div class="col-md-12 blog-post">
                <div class="post-title">
                    <a href="/Home/BlogDetay/@item.ArticleId"><h1>@item.Title</h1></a>
                </div>
                <div class="post-info">
                    <span>@item.ReleaseDate.Value.Day @item.ReleaseDate.Value.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("tr")) @item.ReleaseDate.Value.Year&nbsp; <span class="admin-color">@item.Author.AuthorName @item.Author.AuthorSurname</span></span>
                </div>
                <p>@Html.Raw(item.Content.Substring(0, 150))</p>
                <a href="/Home/BlogDetay/@item.ArticleId" class="button button-style button-anim fa fa-long-arrow-right"><span>[Daha fazla]</span></a>
            </div>
        }




        <div class="col-md-12 text-center">
            <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Yükle</a>
            <div id="post-end-message"></div>
        </div>





    </div>

</div>